<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kenneth.app.starlightlauncher.filesearchmodule">

    <application
        android:name=".MainApplication"
        android:allowBackup="false">

        <!-- A dummy activity with an intent filter so that Starlight Launcher can discover this application as a plugin -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- This intent category has to be present in order for Starlight Launcher to consider this application as a plugin -->
                <category android:name="kenneth.app.starlightlauncher.intent.category.EXTENSION" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.SearchModuleSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.StarlightLauncher.SettingsTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kenneth.app.starlightlauncher.intent.category.SEARCH_MODULE_SETTINGS" />
            </intent-filter>

        </activity>

    </application>

</manifest>