<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kenneth.app.starlightlauncher.appsearchmodule">

    <!-- Permission to query installed apps -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Permission to uninstall apps through the launcher.  -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false">

        <!-- A dummy activity with an intent filter so that Starlight Launcher can discover this application as a plugin -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- This intent category has to be present in order for Starlight Launcher to consider this application as a plugin -->
                <category android:name="kenneth.app.starlightlauncher.intent.category.EXTENSION" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.SearchModuleSettingsActivity"
            android:exported="true"
            android:icon="@drawable/app_search_module_settings_icon"
            android:theme="@style/Theme.StarlightLauncher.SettingsTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- This intent category lets Starlight Launcher knows that this activity is for changing settings of this plugin. -->
                <category android:name="kenneth.app.starlightlauncher.intent.category.SEARCH_MODULE_SETTINGS" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.WidgetSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.StarlightLauncher.SettingsTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- This intent category lets Starlight Launcher knows that this activity is for changing settings of this plugin. -->
                <category android:name="kenneth.app.starlightlauncher.intent.category.WIDGET_SETTINGS" />
            </intent-filter>

        </activity>

    </application>

</manifest>