<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kenneth.app.starlightlauncher">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Permission to read storage, required to retrieve the current wallpaper to provide blur effect  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <!-- Permission to bind and show widgets in Starlight Launcher -->
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />

    <application
        android:name="kenneth.app.starlightlauncher.MainApplication"
        android:allowBackup="false"
        android:clearTaskOnLaunch="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/starlight_launcher_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:stateNotNeeded="true"
        android:supportsRtl="true"
        android:theme="@style/LightLauncherTheme"
        tools:replace="android:name,android:allowBackup">

        <!-- This notification listener service is required in order to obtain info
          of the currently playing media. The registered listener class is empty. -->
        <service
            android:name="kenneth.app.starlightlauncher.views.NotificationListenerStub"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoadingActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".setup.SetupActivity"
            android:exported="false"
            android:label="@string/setup_activity_label"
            android:theme="@style/DarkLauncherTheme" />

        <activity
            android:name="kenneth.app.starlightlauncher.prefs.StarlightLauncherSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.StarlightLauncher.SettingsTheme" />

        <activity
            android:name="kenneth.app.starlightlauncher.MainActivity"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor">

            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="kenneth.app.starlightlauncher.SEARCH_MODULE" />
        </intent>

        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="kenneth.app.starlightlauncher.SEARCH_MODULE_SETTINGS" />
        </intent>
    </queries>

</manifest>